*

!/include/
!/include/**/
!/include/**/*.h

!/src/
!/src/**/
!/src/**/*.cpp

!/standalone/
!/standalone/*.cpp
!/standalone/*.h

!/test/
!/test/**/
!/test/**/*.h
!/test/**/*.cpp
!/test/**/*.txt

# !/docs/
# !/docs/CMakeLists
# !/docs/mainpage.md

!/**/CMakeLists.txt
!/**/*.mk
!/**/Makefile


!/README.md
!/LICENSE
!/.gitignore
