*

!/include/
!/include/**/
!/include/**/*.h

!/src/
!/src/**/
!/src/**/*.cpp

!/standalone/
!/standalone/scaler/
!/standalone/**/*.cpp
!/standalone/**/*.h

!/test/
!/test/**/
!/test/**/*.h
!/test/**/*.cpp
!/test/**/*.txt

!/docs/
!/docs/CMakeLists.txt

!/examples/
!/examples/*.txt
!/examples/fpga/
!/examples/fpga/*.bit

!/**/CMakeLists.txt
!/**/*.mk
!/**/Makefile


!/README.md
!/LICENSE
!/.gitignore
